<!DOCTYPE html>
<html>
  <head>
    <title>SubscribtionApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav' %>
  <p class="notice"><%= notice %></p> <!-- Devise Setup -->
  <p class="alert"><%= alert %></p> <!-- Devise Setup -->

    <%= yield %>
  </body>
</html>
